
<template>




  <div id="app" class="app">
    <div class="header">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
      <h1>FERRETERIA EL MARTILLO</h1>
      <nav>
        <button v-if="is_auth" v-on:click="loadHome">Home</button>
        <button v-if="!is_auth" v-on:click="loadLogIn">Ingresar</button>
        <button v-if="!is_auth" v-on:click="loadSignUp">Registrarse</button>
        <button v-if="is_auth" v-on:click="loadMyOrder">Mi Orden</button>
        <button v-if="is_auth" v-on:click="loadProductPage">Productos</button>
        <button v-if="is_auth" v-on:click="loadUserSettings">
          Configuración
        </button>
        <button v-if="is_auth" v-on:click="logOut">Cerrar sesion</button>
      </nav>
    </div>
    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
      >
      </router-view>
    </div>
  </div>
  
</template>


<script>
export default {
  name: 'App',

  data() {
    return {
      is_auth: false,
    };
  },

  components: {},

  methods: {
    verifyAuth() {
      this.is_auth = localStorage.getItem('isAuth') || false;

      if (this.is_auth === false) this.$router.push({ name: 'logIn' });
      else this.$router.push({ name: 'home' });
    },

    loadLogIn() {
      this.$router.push({ name: 'logIn' });
    },

    loadSignUp() {
      this.$router.push({ name: 'signUp' });
    },

    completedLogIn(data) {
      localStorage.setItem('isAuth', true);
      localStorage.setItem('username', data.username);
      localStorage.setItem('token_access', data.token_access);
      localStorage.setItem('token_refresh', data.token_refresh);
      alert('Autenticación Exitosa');
      this.verifyAuth();
    },

    completedSignUp(data) {
      alert('Registro Exitoso');
      this.completedLogIn(data);
    },

    loadHome() {
      this.$router.push({ name: 'home' });
    },

    loadMyOrder() {
      this.$router.push({ name: 'myOrder' });
    },

    loadProductPage() {
      this.$router.push({ name: 'productPage' });
    },

    loadUserSettings() {
      this.$router.push({ name: 'userSettings' });
    },

    logOut() {
      localStorage.clear();
      alert('Sesión Cerrada');
      this.verifyAuth();
    },
  },

  created() {
    this.verifyAuth();
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.app {
  height: 100vh;
}

.header {
  width: 100%;
  height: 20vh;
  min-height: 100px;
  
  color: #fdda3d;
  background-color: #283748;
  opacity: 0.8;
  

padding-left: 34%;
padding-right: 4%;
display: flex;
flex-direction:row;
flex-wrap: wrap;

font-size: 25px;
font-weight: bold;
font-family: "Audiowide", sans-serif;
text-shadow: 8px 3px 3px black;

  justify-content: space-between;
  align-items: center;
}



.header h1 {
  width: 50%;
  text-align: center;
}

.header nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.header nav button {
  color: #ffffff;
  background: #283748;
  
  border: 3px solid #e5e7e9;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 0 0 10px;
  box-shadow: 10px 5px 5px black;
  
  cursor: pointer;
}

.header nav button:hover  {
  color: #161616;
  font-size: 70%;
  background: #eeee65;
  border: 3px solid #111111;
  
min-height: 20%;
min-width: 20%;
  
  
}
.main-component {
  background: #ffffff;
  height: 100vh;
  background: center / cover no-repeat
    url(https://cdn.pixabay.com/photo/2019/04/15/07/12/tools-4128591_960_720.jpg);
}
</style>
