<template>
<div>
  <nav class="nav-home">
    
    
    
    <img  src="../assets/icons/icon_menu.svg" alt="menu" class="menu" />
    <div class="navbar-left">
      <img src="../assets/logo.png" alt="logo" class="logo" />
      
  </div>
  
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center>
  <img id="desc" src="../assets/descuento.jpg" width="400"  height="500"   alt="descuentos" />
  </center>
  </div>




  


</template>

<script>
// @ is an alias to /src
export default {};
</script>

<style>
:root {
  --white: #ffdddd;
  --black: #000000;
  --very-light-pink: #c7c7c5;
  --text-input-field: #f7f7f6;
  --hospital-green: #ffffff;
  --sm: 16px;
  --md: 18px;
  --lg: 20px;
  
}



.desc{
  margin-left: 30px;
}

.nav-home {
  
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  height: 20%;
  


  border-bottom: 1px solid wh;
  
  
}



.menu {
  display: none;
}
.logo {
  width: 100px;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 12px;
}


.navbar-email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;
}
.navbar-shopping-cart {
  position: relative;
  
}

.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  
  align-items: center;
}


@media (max-width: 640px) {
  .menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  

}

div .desc{
  margin-left: 30%;
}

</style>
