<template>
  <div class="my-order">
    <div class="my-order-container">
      <h1 class="title"></h1>
      <div class="my-order-content">
        <div class="order">
          <p>
            <span>10/12/21</span>
            <span>3 articulos </span>
          </p>
          <p>$89.000</p>
        </div>
        <div class="shopping-cart">
          <figure>
            <img
              src="https://cdn.pixabay.com/photo/2016/01/09/21/07/nails-1130971_960_720.jpg"
              alt="Puntillas"
            />
          </figure>
          <p>Puntillas</p>
          <p>$100</p>
        </div>
        <div class="shopping-cart">
          <figure>
            <img
              src="https://cdn.pixabay.com/photo/2016/03/31/21/01/construction-1296141_960_720.png"
              alt="Espatula"
            />
          </figure>
          <p>Espatula</p>
          <p>$18.000</p>
        </div>
        <div class="shopping-cart">
          <figure>
            <img
              src="https://cdn.pixabay.com/photo/2016/08/18/13/03/ink-1602896_960_720.jpg" class="card-img"
              alt="Pintura"
            />
          </figure>
          <p>Pintura</p>
          <p>30.000</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
.my-order {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}
.my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  background-color: #fff;
  opacity: 0.95;
  border-radius: 5px;
  padding: 20px 20px;
}
.my-order-content {
  display: flex;
  flex-direction: column;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--hospital-green);
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--hospital-green);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
</style>
