<template>
  <div class="cards-container">
      <div class="product-card">
        <img src="https://cdn.pixabay.com/photo/2012/04/13/21/06/screwdriver-33634_960_720.png"
        alt="Destornillador"
      />
      <div class="product-info">
        
        <div>
          <p>$20.000</p>
          <p>Destornillador</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>




  





    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2012/03/01/01/06/battery-19983_960_720.jpg" class="card-img" style="height:65%;"
        alt="Taladro"
      />
      <div class="product-info">
        <div>
          <p>$50.000</p>
          <p>Taladro</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>
    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2016/07/29/08/49/tools-1551458_960_720.jpg"
        alt="Llave"
      />
      <div class="product-info">
        <div>
          <p>$20.000</p>
          <p>Llave inglesa</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>

    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2018/07/27/02/31/garden-3565104_960_720.png" class="card-img" style="height:65%;"
        alt="Guantes"
      />
      <div class="product-info">
        <div>
          <p>$50.000</p>
          <p>Guantes</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>
    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2019/10/25/18/01/paintbrush-4577578_960_720.jpg"
        alt="Brocha"
      />
      <div class="product-info">
        <div>
          <p>$20.000</p>
          <p>Brocha</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>
    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2015/12/03/14/58/tape-1075086_960_720.jpg" 
        alt="metro"
      />
      <div class="product-info">
        <div>
          <p>$15.000</p>
          <p>Cinta metrica</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>
    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2018/01/12/17/32/screw-3078680_960_720.jpg"
        alt="Tornillo"
      />
      <div class="product-info">
        <div>
          <p>$100</p>
          <p>Tornillos</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>
    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2016/01/09/21/07/nails-1130971_960_720.jpg"
        alt="Puntillas"
      />
      <div class="product-info">
        <div>
          <p>$50</p>
          <p>Puntillas</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>
    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2016/03/31/21/01/construction-1296141_960_720.png"
        alt="Espatula"
      />
      <div class="product-info">
        <div>
          <p>$18.0000</p>
          <p>Espatula</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>



  <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2016/08/18/13/03/ink-1602896_960_720.jpg" class="card-img" style="height:80%;"
        alt="Pintura"
      />
      <div class="product-info">
        <div>
          <p>$50.000</p>
          <p>Pintura</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>
    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2016/07/29/08/49/tools-1551458_960_720.jpg"
        alt="Llave"
      />
      <div class="product-info">
        <div>
          <p>$20.000</p>
          <p>Llave inglesa</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>





    <div class="product-card">
      <img
        src="https://cdn.pixabay.com/photo/2013/07/13/01/14/paint-roller-155347_960_720.png"
        alt="Rodillo"
      />
      <div class="product-info">
        <div>
          <p>$40.000</p>
          <p>Rodillo</p>
        </div>
        <figure>
          <img src="../assets/icons/bt_add_to_cart.svg" alt="" />
        </figure>
      </div>
    </div>

  



  </div>
</template>

<script>
export default {};
</script>

<style>
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 20px;
  place-content: center;
  padding: 100px 0 0 0;
}
.product-card {
  width: 270px;
  background-color: #fff;
  opacity: 0.95;
  
  border-radius: 5px;
  padding: 20px 20px;
}
.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-info figure {
  margin: 0;
}
.product-info figure img {
  width: 35px;
  height: 35px;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--hospital-green);
}
@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
}
</style>
